@model List<Question>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    int sayi = 0;
}

<form method="post">
    @foreach (var item in Model)
    {

        sayi++;
        <span style="font-weight:bold;color:red">@sayi -) </span>

        <span style="color:black;font-weight:bold">@item.QuestionLine</span>
        <br />
        if (item.QuestionTypeID == 1)
        {
            @foreach (var opt in ViewBag.options)
            {
                if (item.Question_ID == opt.Question_ID)
                {
                    <input type="checkbox" name="@item.Question_ID" value="@opt.OptionDescription"> @opt.OptionDescription <br>
                }

            }
        }
        else if (item.QuestionTypeID == 2)
        {
            <div class="form-check form-check-inline">
                <input type="radio" name="@item.Question_ID" value="DOĞRU">
                <label class="form-check-label">DOĞRU</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="@item.Question_ID" value="YANLIŞ">
                <label class="form-check-label">YANLIŞ</label>
            </div>
        }
        else if (item.QuestionTypeID == 3)
        {
            <div class="input-group">
                <textarea type="text" id="Id_@item.Question_ID" name="@item.Question_ID" class="form-control "> </textarea>
            </div>
        }

        <br />
        <hr />
    }


    <input type="submit" value="Cevapları Gönder">

</form>
